.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.child-container{
    height: 100vh;
    overflow: auto;
}

.spinner {
    height: 25px;
    width: 25px;
    position: absolute;
}